body{
	background-color: whitesmoke;
	word-break: break-word;
}

.caixaPrincipal{
	text-align: center;
	margin: 20px;
}

.cadastreDispositivo{
	margin-bottom: 10px;
}

.formCadastro, .formConfiguracaoRede{
	margin-top: 20px;
	text-align: start;
}

.botaoCadastrar{
	margin-top: 15px;
	margin-bottom: 15px;
}

.caixaConfiguracoesAtuais{
	text-align: start;
	padding: 10px;
	margin-top: 10px;
}

.seletorPortas{
	margin-top: 20px;
}