body{
	background-color: whitesmoke;
	word-break: break-word;
}

.caixaPrincipal{
	text-align: center;
	margin: 20px;
}

.caixaUpload{
	width: 25%;
	margin-left: 50%;
	transform: translate(-50%, 0);
}

.selecioneArquivo, .selecioneDispositivos{
	margin: 20px;
}

.botaoProcurarDispositivos{
	border: 1px solid #ced4da;
	border-radius: 0px 0.25rem 0.25rem 0px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.botaoProcurarDispositivos:hover{
	background-color: #E0E0E0;
}

.caixaDispositivos{
	margin-bottom: 20px;
	padding: 10px;
}

.caixaDispositivo:hover{
	cursor: pointer;
}

#idDispositivo{
	display: none;
}